@model BlindBidding.Models.AuctionViewModels.ManageAuctionsViewModel

@{
    ViewData["Title"] = "Zarządzaj Aukcjami";
}

@*<script>
    window.addEventListener("load", function () {

        var height = parseInt($(window).height() / 4);

        $(".item-in-list").height(height);

        $(window).resize(function () {

            height = parseInt($(window).height() / 4);

            $(".item-in-list").height(height);
        });

    }, false);
</script>*@

<div class="row">
    <form asp-controller="Auction" asp-action="ManageAuctions" method="get" id="index-form">
        <div class="col-sm-3 col-xs-12" style="padding-top: 15px;">
            <label>Typ widoku:</label>
            <br />
            @if (Model.IsAuctionAuctionedView.Equals("Auctioned"))
            {
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="viewType" value="Auctioned" checked> Licytowane Aukcje<br>
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="viewType" value="My">Własne<br>
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="viewType" value="Favourite"><span style="color: orange" class="glyphicon glyphicon-star"></span><br>
                    </label>
                </div>
            }
            else if (Model.IsAuctionAuctionedView.Equals("Favourite"))
            {
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="viewType" value="Auctioned"> Licytowane Aukcje<br>
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="viewType" value="My">Własne<br>
                    </label>
                    <label class="btn btn-default active">
                        <input type="radio" name="viewType" value="Favourite" checked><span style="color: orange" class="glyphicon glyphicon-star"></span><br>
                    </label>
                </div>
            }
            else
            {
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="viewType" value="Auctioned"> Licytowane Aukcje<br>
                    </label>
                    <label class="btn btn-default active">
                        <input type="radio" name="viewType" value="My" checked>Własne<br>
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="viewType" value="Favourite"><span style="color: orange" class="glyphicon glyphicon-star"></span><br>
                    </label>
                </div>
            }

            <br>
            <br>
            <label>Ukryj zakończone:</label>
            <br />
            @if (Model.IsElementsHidden)
            {
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="ended" value="hide" checked> Ukryj<br>
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="ended" value="show">Pokaż<br>
                    </label>
                </div>

            }
            else
            {
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="ended" value="hide"> Ukryj<br>
                    </label>
                    <label class="btn btn-default active">
                        <input type="radio" name="ended" value="show" checked>Pokaż<br>
                    </label>
                </div>

            }

            <br />
            <br />
            <label>Wyszukiwana fraza:</label>
            <input type="text" class="form-control" name="filter" placeholder="Wyszukaj..." value="@Model.Filter">
            <br>
            <label>Kategoria:</label>
            <select name="category" class="form-control">
                @foreach (var i in Model.Categories)
                {
                    @if (i.SubcategoryOf == null)
                    {
                        <optgroup label="@i.Name">
                            @foreach (var j in Model.Categories)
                            {
                                @if (j.SubcategoryOf == i)
                                {
                                    @if (j.Name.Equals(Model.Category))
                                    {

                                        <option value="@j.Name" selected>@j.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@j.Name">@j.Name</option>}
                                }
                            }
                        </optgroup>
                    }
                }
            </select>
            <br>
            <label>Elementów na stronie:</label>
            <select name="onPage" class="form-control">
                @{ List<int> onPageValue = new List<int>();
                    onPageValue.Add(10); onPageValue.Add(20);
                    onPageValue.Add(50); onPageValue.Add(1);}
                @foreach (var i in onPageValue)
                {
                    @if (i.Equals(Convert.ToInt32(Model.OnPage)))
                    {
                        <option value="@i" selected>@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>
            <br>
            <label>Porządek sortowania:</label>
            <select name="sortingOrder" class="form-control">
                @{ List<string> sortOrder = new List<string>();
                    sortOrder.Add("Rosnąco"); sortOrder.Add("Malejąco");}
                @foreach (var i in sortOrder)
                {
                    @if (i.Equals(Convert.ToString(Model.SortOrder)))
                    {
                        <option value="@i" selected>@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>
            <br>
            <label>Sortuj według:</label>
            <select name="sortingExpression" class="form-control">
                @{ List<string> sortBy = new List<string>();
                    sortBy.Add("Data Zakończenia"); sortBy.Add("Data Dodania");}
                @foreach (var i in sortBy)
                {
                    @if (i.Equals(Convert.ToString(Model.SortingExpression)))
                    {
                        <option value="@i" selected>@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>
            <br>
            <button class="btn btn-primary">Filtruj</button>
            <br>
        </div>
    </form>
    @if (ViewData["message"] != null)
    {
        @if (!ViewData["message"].Equals(String.Empty))
        {
            <div class="col-sm-9 col-xs-12" style="margin-top: 25px">
                <div class="alert alert-info" role="alert">
                    @ViewData["message"]
                </div>
            </div>

        }

    }
    <div class="col-sm-9 col-xs-12">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="col-sm-9 col-xs-12">
        @if (Model.Auctions != null)
        {
            @if (Model.Auctions.Count() > 0)
            {
                @foreach (var i in Model.Auctions)
                {
                    <div class="row auction-in-list">
                        <div class="items-list-auction-description col-sm-3 col-xs-12">
                            <form method="get">
                                <input name="id" value="@i.AuctionId" asp-controller="Auction" asp-action="AuctionView" type="image" src="~/images/auctionThumbnails/@i.ThumbnailPath" class="img-responsive item-in-list" />
                            </form>
                        </div>
                        <div class="col-sm-6 col-xs-12" style="font-size: smaller">
                            <h4>
                                @i.Title
                                @if ((i.EndDate < DateTime.Now || i.IsEnded) && i.BidId != null)
                                {
                                    <span style="color: green;">(zakończono pomyślnie)</span>
                                }
                                else if ((i.EndDate < DateTime.Now || i.IsEnded) && i.BidId == null)
                                {
                                    <span style="color: orange;">(nie udało się sprzedać)</span>
                                }
                            </h4>
                            @if (!Model.LogedUser.HasHighlightedAuction)
                            {
                                <form method="get">
                                    <button asp-action="AddToHighlighted" name="AuctionId" value="@i.AuctionId" class="btn btn-sm" style="background-color: yellow">Wyróżnij</button>
                                </form>

                            }
                            else if (i.IsHighlighted && i.OwnerId.Equals(Model.LogedUser.Id))
                            {
                                <form method="get">
                                    <button asp-action="RemoveFromHighlighted" name="AuctionId" value="@i.AuctionId" class="btn btn-sm" style="background-color: yellow">Wyróżnij <span style="color: red" class="glyphicon glyphicon-remove"></span></button>
                                </form>
                            }

                            @i.Description
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <h5>Data zakończenia:</h5>
                            @if (i.IsEnded)
                            {
                                <strong style="font-size: larger;">Zakończono</strong>

                            }
                            else
                            {
                                @i.EndDate

                            }
                            <br>
                            <form method="get">
                                <button asp-action="AuctionView" name="id" value="@i.AuctionId" class="btn btn-info" style="margin-top: 5px">Szczegóły</button>
                            </form>
                            @if (Model.LogedUser != null)
                            {
                                bool check = true;
                                bool canDeleteFromFavourites = false;
                                @foreach (var j in Model.UserFavouriteAuctions)
                                {
                                    @if (j.Equals(i))
                                    {
                                        @foreach (var k in Model.Favourites)
                                        {
                                            @if (k.AuctionId.Equals(j.AuctionId))
                                            {
                                                @if (k.IsFavourite)
                                                {
                                                    canDeleteFromFavourites = true;

                                                }

                                            }

                                        }
                                        check = false;

                                    }

                                }
                                @if (check)
                                {
                                    <form method="get">
                                        <button asp-controller="Auction" asp-action="AddToFavourites" name="AuctionId" value="@i.AuctionId" class="btn btn-default" style="margin-top: 5px">Obserwuj <span style="color: orange" class="glyphicon glyphicon-star"></span></button>
                                    </form>

                                }
                                else if (canDeleteFromFavourites)
                                {

                                    <form method="get">
                                        <button asp-controller="Auction" asp-action="DeleteFromFavourites" name="AuctionId" value="@i.AuctionId" class="btn btn-default" style="margin-top: 5px">Obserwuj <span style="color: red" class="glyphicon glyphicon-remove"></span></button>
                                    </form>
                                }

                            }
                            @if (i.EndDate > DateTime.Now && Model.IsAuctionAuctionedView.Equals("My"))
                            {
                                @if (i.IsEnded)
                                {
                                    <form method="get">
                                        <button asp-action="DeleteAuction" name="AuctionId" value="@i.AuctionId" class="btn btn-danger" style="margin-top: 5px">Usuń aukcję</button>
                                    </form>

                                }
                                else
                                {
                                    <form method="get">
                                        <button asp-action="EndAuction" name="AuctionId" value="@i.AuctionId" class="btn btn-success" style="margin-top: 5px">Zakończ</button>
                                    </form>

                                }


                            }
                        </div>
                    </div>
                }

            }
            else
            {
                <div class="alert alert-info" role="alert">
                    Brak elementów do wyświetlenia
                </div>
            }

        }

    </div>
    <div class="col-xs-12" style="text-align: center">
        @{ var numberOfElements = Model.NumberOfElements;
            var numberOfPages = Model.NumberOfPages;
            //if (numberOfElements % Model.OnPage != 0)
            //{
            //    numberOfPages += 1;
            //}
            var next = Model.Page + 1;
            var prev = Model.Page - 1;
            if (next > numberOfPages)
            {
                next = numberOfPages;

            }
            if (prev < 1)
            {
                prev = 1;

            }
        }

        <ul class="pagination">
            <li><button class="btn btn-default" name="page" value="@prev" form="index-form">Poprzednia</button></li>
            <li><button class="btn btn-default" name="page" value="1" form="index-form">Pierwsza</button></li>
            @for (int i = 1; i <= numberOfPages; i++)
            {
                @if (i > Model.Page - 3 && i < Model.Page + 3)
                {
                    @if (i <= Model.NumberOfPages)
                    {

                        @if (i.Equals(Model.Page))
                        {
                            <li><button class="btn btn-primary" name="page" value="@i" form="index-form">@i</button></li>

                        }
                        else
                        {
                            <li><button class="btn btn-default" name="page" value="@i" form="index-form">@i</button></li>
                        }
                    }

                }

            }
            <li><button class="btn btn-default" name="page" value="@numberOfPages" form="index-form">Ostatnia</button></li>
            <li><button class="btn btn-default" name="page" value="@next" form="index-form">Następna</button></li>
        </ul>
    </div>
</div>